:root{
	--bg-theme-8c001a: #8c001a;
}

::-webkit-scrollbar {
	display: none;
  }

.header-span {
	display: block;
	height: 110px;
	position: relative;
	width: 100%;
}

.main-header {
	position: relative;
	width: 100%;
	z-index: 999;
}

.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 313px;
	padding-right: 80px;
	position: relative;
}
.header-top .inner-container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--bg-theme-color3);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 40px;
	position: relative;
	width: 100%;
}
.header-top .top-left {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-top .top-right {
	position: relative;
}
.header-top .useful-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 0;
	margin-right: 15px;
}
.header-top .useful-links li {
	position: relative;
	padding-left: 15px;
	margin-left: 15px;
	font-size: 13px;
	color: #808287;
	line-height: 20px;
}
.header-top .useful-links li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.header-top .useful-links li:before {
	position: absolute;
	left: -3px;
	top: 0;
	content: "/";
}
.header-top .useful-links li:first-child:before {
	display: none;
}
.header-top .useful-links li a {
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.header-top .useful-links li a:hover {
	color: var(--theme-color1);
}
.header-top .outer-box {
	min-width: 210px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: center;
}

.main-menu{
	margin: auto;
}

.main-header .header-lower {
	position: relative;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-header .header-lower .logo-box {
	position: relative;
	min-width: 200px;
}

.main-header {
	width: 100%;
	z-index: 999;
}
.main-header .logo {
	position: relative;
	display: block;
}
.main-header .logo img {
	margin: 10px 0;
	height: auto;
}

@media only screen and (max-width: 1200px) {
	.main-header .logo img {
		margin: 0;
	}
}	
.main-header .main-box {
	position: relative;
	left: 0px;
	top: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-header .main-box .nav-outer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.main-menu {
	position: relative;
}

.main-auto{
	margin: auto;
}

.main-menu .navbar-header {
	display: none;
}

.main-menu .navbar-collapse {
	padding: 0px;
}

.main-menu .navigation {
	position: relative;
	margin: 0px;
}

.main-menu .navigation > li {
	position: relative;
	float: left;
	margin: 5px 10px 0 0 !important;
	margin-right: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-menu .navigation > li:last-child {
	margin-right: 0;
}
.main-menu .navigation > li:before {
	position: absolute;
	left: 50%;
	bottom: 23px;
	height: 2px;
	width: 0%;
	background-color: var(--bg-theme-color3);
	content: "";
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-menu .navigation > li:hover:before,
.main-menu .navigation > li.current:before {
	left: 0;
	width: 100%;
}
.main-menu .navigation > li >a {
	position: relative;
	text-decoration:none;
	display: block;
	text-align: center;
	opacity: 1;
	color: #ffffff;
	font-size: 18px;
	line-height: 50px;
	font-weight: 800;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.main-menu .navigation > li > a .icon {
	position: relative;
	font-size: 22px;
	line-height: 24px;
	margin-left: 10px;
}

.main-menu .navigation > li{
	padding: 0 0 0 15px;
}

.main-menu .navigation > li:hover {
    background-color: rgb(255, 255, 255);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.header-lower .main-menu .navigation > li:hover > a{
	color: #202020;
}

.main-menu .navigation > li.dropdown > a {
	padding-right: 15px;
	margin-right: -14px;
	
}

.main-menu .navigation > li.dropdown:hover > ul {
	visibility: visible;
	opacity: 1;
	top: 100%;
	margin-top: 0;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.main-menu .navigation > li > ul {
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	display: none;
	opacity: 0;
	left: 0px;
	margin-top: 20px;
	position: absolute;
	top: 100%;
	width: 360px;
	z-index: 100;
}

.main-menu .navigation > li > ul.ul-w-1 {
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	display: none;
	opacity: 0;
	left: 0px;
	margin-top: 20px;
	position: absolute;
	top: 100%;
	width: 370px;
	z-index: 100;
}

.main-menu .navigation > li > ul.ul-w-2 {
	background-color: #fff;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	display: none;
	opacity: 0;
	left: 0px;
	margin-top: 20px;
	position: absolute;
	top: 100%;
	width: 230px;
	z-index: 100;
}

.main-menu .navigation > li > ul > li > a {
	color: #000;
	position: relative;
	display: block;
	text-decoration:none;
	padding: 10px 0px;
	line-height: 29px;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	margin: 0 30px;
	text-transform: capitalize;
}

.main-menu .navigation > li > ul.from-right {
	left: auto;
	right: 0px;
}
.main-menu .navigation > li > ul > li {
	border-bottom: 1px solid #ebf1f5;
	position: relative;
	width: 100%;
}

.main-menu .navigation > li > ul > li:hover{
	background-color: #f1f1f1;
} 

.main-menu .navigation > li > ul > li:hover > a {
	background-color: #f1f1f1;
	color: #8c001a;
	font-weight: 600;
}

.main-menu .navigation > li > ul > li:last-child {
	border-bottom: none;
}


.main-menu .navigation > li > ul > li.dropdown > a:after {
	content: "\f105";
	display: block;
	font-family: "Font Awesome 5 Free";
	font-size: 11px;
	font-weight: 900;
	line-height: 24px;
	position: absolute;
	right: 0;
	top: 11px;
	z-index: 5;
}
.main-menu .navigation > li > ul > li.dropdown:hover > ul {
	background-color: #fff;
	width: 330px;
	margin-top: 30px;
	opacity: 1;
	top: 0px;
	visibility: visible;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.main-menu .navigation > li > ul > li > ul {
	background-color: var(--theme-color-light);
	display: none;
	left: 100%;
	margin-top: 10px;
	opacity: 0;
	padding: 10px 0 ;
	position: absolute;
	top: 0px;
	width: 220px;
	z-index: 100;
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
		-2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}
.main-menu .navigation > li > ul > li > ul > li {
	border-bottom: 1px solid #ebf1f5;
	position: relative;
	width: 100%;
}
.main-menu .navigation > li > ul > li > ul > li:last-child {
	border-bottom: none;
}
.main-menu .navigation > li > ul > li > ul > li > a {
	color: #000000;
	text-decoration:none;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 30px;
	padding: 10px 0;
	position: relative;
	text-align: left;
	text-transform: capitalize;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-menu .navigation > li > ul > li > ul > li:hover > a  {
	color: #8c001a;
}

.sub_menu_subtitle{
	color: #646464;
	font-size: 14px;
}

.main-menu .navigation li.dropdown .dropdown-btn {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 34px;
	height: 30px;
	border: 1px solid #ffffff;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	cursor: pointer;
	z-index: 5;
	display: none;
}

.main-header .header-lower .outer-box {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding: 10px 0;
}
.main-header .header-lower .outer-box .theme-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 10px;
	padding: 7px 40px;
	text-transform: capitalize;
}
.main-header .header-lower .outer-box .ui-btn-outer {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 6px 0;
	padding-right: 30px;
}

.main-header .ui-btn {
	position: relative;
	display: block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background: none;
	font-size: 26px;
	color: var(--theme-color3);
	margin-left: 26px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-header .ui-btn:hover {
	color: var(--theme-color1);
}

.main-header .info-btn {
	position: relative;
	display: block;
	font-size: 14px;
	padding: 8px 35px;
	padding-left: 54px;
	color: var(--theme-color3);
	text-align: left;
	font-weight: 600;
	line-height: 20px;
}
.main-header .info-btn small {
	font-size: 12px;
	font-weight: 400;
	color: #808287;
}
.main-header .info-btn i {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
	line-height: 44px;
	height: 44px;
	width: 44px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: var(--bg-theme-color3);
	font-size: 18px;
}
.main-header .info-btn:hover {
	color: var(--bg-theme-color1);
}


@media (max-width: 1699.98px) { 
	.main-menu .navigation > li > ul.ul-w-2 {
		width: 220px;
	}
 }


 @media (max-width: 1499.98px) { 
	.main-menu .navigation > li > ul{
		width: 320PX;
	}

	.main-menu .navigation > li > ul.ul-w-2 {
		width: 200px;
	}
 }



@media only screen and (max-width: 767px) {
    .main-header .header-lower .logo-box {
        padding: 15px 0 !important;
    }
}


/*** 
====================================================================
  Header Style 
====================================================================
***/

.main-header.header-style-two .header-top {
    padding: 15px 300px;
}

.header-style-two {
	position: relative;
	background-color: #fff;
	z-index: 9;
}
.header-style-two .header-top {
	position: relative;
	margin: 0;
	padding: 0 80px;
	background-color: #ffffff;
	justify-content: space-between;
}

.header-style-two .header-top .useful-links li,
.header-style-two .header-top .list-style-one li {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
}
.header-style-two .header-top .useful-links li a,
.header-style-two .header-top .list-style-one li a {
	color: rgba(255, 255, 255, 0.8);
}
.header-style-two .header-top .useful-links li:hover a,
.header-style-two .header-top .list-style-one li:hover a {
	color: #fff;
}

.header-style-two .social-icon-one li a {
	color: #8c001a;	
}
.header-style-two .social-icon-one li a:hover {
	color: #3f0505;
}
.header-style-two .header-lower {
	background-color:#8c001a;
	padding: 0 150px;
	-webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
}



@media (min-width: 1200.98px) { 
	.main-box .logo-box{
		display: none;
	}
}

 @media (max-width: 1799.98px){
	.main-header.header-style-two .header-top {
		padding: 15px 200px;
	}
}

 @media (max-width: 1499.98px){
	.main-header.header-style-two .header-top {
		padding: 15px 170px;
	}
	 
}

/*** 
====================================================================
  Sticky Header
====================================================================
***/
.sticky-header {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 5px 0 0;
	z-index: 99999;
	background: #fffffffa;
	-webkit-box-shadow:  rgba(0, 0, 0, 0.05) 0px 6px 5px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 5px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sticky-header.fixed-header {
	opacity: 1;
	z-index: 9999;
	visibility: visible;
}

.sticky-header .logo img {
	max-height: 40px;
}
.sticky-header .nav-outer {
	background: none;
	position: relative;
}
.sticky-header .inner-container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}

.sticky-header .main-menu .navigation > li {
	margin: 0 0 0 40px;
	padding: 10px 6px 5px 6px;
}

.sticky-header .main-menu .navigation > li > a {
	color: #707070;
}

.sticky-header .main-menu .navigation > li:before {
	display: none;
}

.sticky-header .outer-box,
.sticky-header .navbar-header {
	display: none;
}

.sticky-header .mobile-nav-toggler {
	color: #202020;
}

.header-px {
	padding: 0 180px;
}

@media only screen and (min-width: 768px) {
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
}

@media (max-width: 767.98px) { 
	.sticky-header .logo {
		padding: 10px 0;
	}
}


/*** 
====================================================================
      Mobile Menu
====================================================================
***/

.mobile-nav-toggler {
	cursor: pointer;
	color: #202020;
	display: none;
	font-size: 22px;
	font-weight: 600;
	line-height: 20px;
	margin-left: 20px;
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8;

	position: relative;
	top: 4px;
}
@media only screen and (max-width: 1023px) {
	.mobile-nav-toggler {
		display: block;
	}
}
@media (max-width: 320px) {
	.mobile-nav-toggler {
		margin-left: 0;
	}
}

.mobile-menu {
	max-width: 100%;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 365px;
	z-index: 999999;
}
.mobile-menu .menu-backdrop {
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1;
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.mobile-menu .upper-box {
	display: -webkit-box;
	display: -ms-flexbox;
	background-color: #efeeee;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 5px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	z-index: 99;
}

.mobile-menu .upper-box-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 8px 10px;
	position: relative;
	width: 100%;
}
.mobile-menu .close-btn {
	cursor: pointer;
	font-size: 28px;
	position: relative;
	top: -10px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 10;
	right: 0;
}
.mobile-menu .close-btn:hover {
	opacity: 0.5;
}
.mobile-menu .nav-logo {
	position: relative;
	text-align: left;
	width: 100%;
}
.mobile-menu .nav-logo img {
	max-height: 40px;
}
.mobile-menu .menu-box {
	background: #fff;
	border-radius: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	left: 0px;
	max-height: 100%;
	opacity: 0;
	padding: 0;
	position: relative;
	top: 0px;
	-webkit-transform: translateX(101%);
	transform: translateX(101%);
	visibility: hidden;
	width: 100%;
	z-index: 5;
}

.menu-box-y{
	overflow-y: auto;
}

.mobile-menu-visible {
	overflow: hidden;
}
.mobile-menu-visible .mobile-menu {
	opacity: 1;
	visibility: visible;
}
.mobile-menu-visible .mobile-menu .menu-backdrop {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.mobile-menu-visible .mobile-menu .menu-box{
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.4s ease 200ms;
	transition: all 0.4s ease 200ms;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.mobile-menu-visible .mobile-menu .close-btn {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 0.4s ease 200ms;
	transition: all 0.4s ease 200ms;
}


.mobile-menu .navigation {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
.mobile-menu .navigation li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	display: block;
	position: relative;
}
.mobile-menu .navigation li > ul > li:last-child {
	border-bottom: none;
}
.mobile-menu .navigation li > ul > li:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu .navigation li{
	border-bottom: 1px solid #3d3d3d17;
}

.mobile-menu .navigation li > a {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 10px 20px;
	position: relative;
	text-transform: capitalize;
	text-decoration: none;
}

.mobile-menu .navigation li:hover > a,
.mobile-menu .navigation li.current > a {
	color: rgb(140, 0, 26);
	background-color: rgb(247 247 247);
	text-decoration: none;
}

.mobile-menu .navigation li > ul >li:hover > a{
	background-color: #faf1f1;
	text-decoration: none;
}

.mobile-menu .navigation li.dropdown .dropdown-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 44px;
	height: 44px;
	text-align: center;
	font-size: 16px;
	line-height: 44px;
	color: var(--theme-color-light);
	cursor: pointer;
	z-index: 5;
}
.mobile-menu .navigation li.dropdown .dropdown-btn:after {
	content: "";
	position: absolute;
	left: 0px;
	top: 10px;
	width: 1px;
	height: 24px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-menu .navigation li.dropdown .dropdown-btn.active i:before {
	content: "\f106";
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
	display: none;
}

.mobile-menu .navigation li > ul > li {
	background-color: #faf1f1fa;
	padding-left: 20px;
}

.mobile-menu .social-links {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #8c001a;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: auto;
	position: relative;
	width: 100%;
	margin-bottom: 0;
}
.mobile-menu .social-links li {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	position: relative;
	text-align: center;
	width: 100%;
}
.mobile-menu .social-links li a {
	color: var(--theme-color-light);
	display: block;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-align: center;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.mobile-menu .social-links li a:hover {
	color: var(--theme-color2);
}

/*** 
====================================================================
  Main Slider Two
====================================================================
***/
.main-slider-two {
	position: relative;
}
.main-slider-two .title {
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	padding-top: 15px;
	position: relative;
}
.main-slider-two h2 {
	color: #ffffff;
	display: block;
	font-size: 80px;
	font-weight: 700;
	line-height: 1.2em;
	position: relative;
	text-transform: capitalize;
}
@media (max-width: 991.98px) {
	.main-slider-two h2 {
		font-size: 60px;
	}
}
@media (max-width: 575.98px) {
	.main-slider-two h2 {
		font-size: 48px;
	}
}
@media (max-width: 339.98px) {
	.main-slider-two h2 {
		font-size: 36px;
	}
}
.main-slider-two .btn-box {
	position: relative;
}
.main-slider-two .theme-btn {
	display: inline-block;
	min-width: 200px !important;
	white-space: nowrap;
}

.main-slider-two .tp-dottedoverlay {
	background-color: rgba(11, 59, 94, 0.4);
}

.main-slider-two.home7-style .tp-dottedoverlay {
	background-color: rgba(11, 59, 94, 0.4);
}

.main-slider-two .tp-bannertimer {
	display: none;
}

.main-header.header-style-two .icontext {
    padding-left: 20px;
    position: relative;
}

.main-header.header-style-two .icontext::after {
    background-color: rgb(202, 202, 202);
    content: "";
    height: 20px;
    position: absolute;
	left: 5px;
    top: 3px;
    width: 2px;
}

.title{
	display: flex;
	align-items: center;
	border-bottom: none;
	padding: 6px 3px;
	margin-bottom: 0;
	color: rgb(72, 65, 65);
}

.title:hover{
	color: rgb(182, 8, 8);
}

.icontext a{
	text-decoration: none;
}

.icontext-title {
	font-size: 16px;
	font-weight: 700;
	width: 50%;
	white-space: nowrap;
}

@media (max-width: 1499.98px){
	.main-header.header-style-two .icontext {
		padding-left: 10px;
	}
}

/* ipad max */
.icontext-bg{
	background-color:rgb(182, 8, 8);
	color: #ffffff;
	margin: 0 3px 0 0;
	border-radius: 3px;
}
.icontext-d{
	display: flex;
	padding-left: 7px;
	padding-bottom: 20px;
	
}

/*Social Icon One*/
.social-text{
	align-items: center;	
}
.social-bg{
	height: 35px;
	padding: 15px 10px 10px;
}
.box-auto{
	margin: auto 0;
}
.social-icon-one {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.social-icon-one li {
	position: relative;
}
.social-icon-one li a {
	position: relative;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 22px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}


/*  header  */
.main-banner{
	padding-top: 0;
}

/*  登入  */
.btn-title{
	white-space:nowrap;
}

.btn-style-one {
	background-color: #ce2222;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	overflow: hidden;
	padding: 0.5rem 1rem 0.6rem;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	z-index: 1;
}

.btn-style-one:hover{
text-decoration: none;
color: #ffffff;
background-color: #3f0505;
}

.btn-style-one:before {
	background-color: #ffffff;
	content: "";
	height: 100%;
	opacity: 0.2;
	position: absolute;
	right: -15px;
	top: 0;
	width: 35px;
	z-index: -1;
	-webkit-transform: skewX(-22deg);
	transform: skewX(-22deg);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.btn-style-one:hover:before {
	opacity: 1;
	right: 0;
	-webkit-transform: skewX(0deg);
	transform: skewX(0deg);
	width: 100%;
}

.btn-style-one:hover {
	color: #fff;
	text-decoration: none;
}

/*  會員專區 */
ul.drop-down-menu {
	margin-bottom: 0;
	display: inline-block;
}

ul.drop-down-menu li {
	position: relative;
	white-space: nowrap;
}

ul.drop-down-menu > li:last-child {
	border-right: none;
}

ul.drop-down-menu > li {
	float: left; 
}

 ul.drop-down-menu a {
	background-color: #fff;
	color: #333;
	font-size: 16px;
	border: 1px #d4d4d4 solid;
	display: block;
	padding: 0 30px;
	margin-left: 10px;
	text-decoration: none;
	line-height: 37px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
ul.drop-down-menu .down-menu {
	border-radius: 5px;
}

ul.drop-down-menu li:hover > a {
	background-color: #434343;
	color: #fff;
}

ul.drop-down-menu ul {
	position: absolute;
	z-index: 99;
	left: -1px;
	top: 100%;
   	min-width: 180px;
}

ul.drop-down-menu ul li:last-child {
	border-bottom: none;
}

ul.drop-down-menu ul { 
	display: block;
	visibility: hidden;
	opacity: 0;
	top: 50px;
}

ul.drop-down-menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
    margin-top: 0;
	transition: all 300ms ease;
}

.select-w {
	width: 100%;
}

.mobile-menu .select-w {
	width: 20%;
}

@media (max-width: 1499.98px) { 
	.ul.drop-down-menu a {
		font-size: 14px;
	}
}

@media (max-width: 1199.98px) { 
	.btn-style-one {
		padding: 0.6rem 2.5rem 0.6rem ;
	}
	.icontext-title {
		font-size: 14px;
	}
}

.fa-long-arrow-righ{
    padding-right: 2px;
}

 /*   主打行程   */
 .bread{
    background-color: #f2f2f2;
    line-height: 36px;
    height: 36px;
 }

 .bread li a{
    color: #333333;
    font-size: 16px;
    padding: 5px 0;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-decoration:none;
 }
 .bread li a:hover {
    text-decoration:none;
}

 .bread li{
    float: left;
 }

.Japan, .Japan2 {
    margin-left: auto;
    width: 45%;
    max-width: 50%;
    margin-right: 1em;
    align-items: center;
    position: relative;
    display: flex;
    color: #F22478;

    left: 30px;
}

.stroke_content img {
    margin: auto 5px;
    width: 20px;
    height: 20px;
}

.stroke_content h5 {
    margin: 0 5px;
}

#price_project {
    display: flex;
    justify-content: left;
    width: 150px;
    max-width: 150px;
    flex-wrap: nowrap;
}

#price_project p {
    position: relative;
    padding-top: 30px;
    line-height: 0;
}

.result {
    padding-left: 5px;
    width: 68%;
    color: #676767;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*  footer  */
footer#footer{
    background-color: #8c001a;
}

/*   固定  */
.d-flex{
    display: flex;
}

/*   @media  width  */

@media (min-width: 1700px) { 
	.sub_menu_title span {
        white-space: nowrap;
    }
	
}

@media (min-width: 1900px) { 
	.main-menu .navigation > li.dropdown > a {
		padding-right: 30px	
	}
}


 @media (max-width: 1799.98px) { 
	.main-menu .navigation > li > ul.ul-w-3 {
		width: 250px;
	}

	.main-menu .navigation > li{
		padding: 0 10px;
	}

	ul.drop-down-menu a {
		padding: 0 20px;
	}
}

@media (max-width: 1450.98px) { 
	.sticky-header .inner-container{
		display: block;
	}

	.main-menu .navigation > li{
		padding: 0 8px;
	}
}


@media (max-width: 1399.98px) { 
    .sub_menu{
        width: 100%;
        left: 0;
    }
    .sub_menu_box {
         padding: 20px 8px;
    }
	
	.main-menu{
		margin: 0;
		padding: 0;
	}
	.main-header.header-style-two .header-top{
		padding: 15px 65px;
	}
	.main-menu .navigation > li.dropdown > a {
		padding-right: 12px;
		margin-right: -10px;
	}

	.header-style-two .header-lower{
		padding: 0;
	}

	.main-menu .navigation > li > ul.ul-w-3 {
		width: 230px;
	}
	.sub_menu_subtitle {
		letter-spacing:-1px
	}
	.main-menu .navigation > li > ul > li > a {
	margin: 0 20px;
	}

	.sticky-header .main-menu .navigation > li {
		padding: 10px 4px 5px 4px;
	}

}

@media (max-width: 1338.98px) {
	.icon .lnr-icon-bars {
		opacity: 0;
	}

	.sticky-header .inner-container{
		display: block;
	}

	.header-px {
		padding: 0px 50px;
	}
	.main-menu {
		padding-left: 0;
	}
}

@media (max-width: 1271.98px) {
	.main-menu .navigation > li > ul > li > a {
		font-weight: 400;
		font-size: 15px;
		text-align: left;
	}

	.main-menu .navigation > li {
		margin: 5px 10px 0 0 !important;
	}

	.main-menu .navigation > li > ul.ul-w-2{
		width: 180px;
	}

	.main-menu .navigation > li {
		padding: 0 5px;
	}

	.main-menu .navigation > li:hover {
		padding: 0 5px;
	}
}


@media (max-width: 1200.98px) { 

	ul.drop-down-menu a{
		padding: 0 3.7rem;
		white-space: nowrap;
	}

	.btn-style-one{
		margin-left: 0;
	}

	.fab{
		color: #fff;
	}

	.header-style-two .header-lower {
		background-color: #ffffff;
	}

	.header-px {
		padding: 0 20px;
	}

	.main-header .main-box{
		padding: 0 !important;
	}

	.sticky-header .inner-container {
        display: flex;
    }
}


@media (max-width: 1022.98px) {
	.icon .lnr-icon-bars {
		opacity: 1;
	}
}

@media (max-width: 991.98px) { 

     .nav_box {
         margin: 0 0.5rem;
    }
    .nav_box .nav_boxtitle,
    .nav-title {
        font-size: 15px;
    }

    .card ul {
        font-size: 14px;
    }

    .lane-d-flex{
        display: flex;
    }

    .social-icon-two{
        padding-right: 0;
    }
}
@media (max-width:768px) {
    #main-banner, .main-banner .item img {
        height: auto;
    }

	#main {
        margin-top: 0;
    }
}


@media screen and (max-width: 768px) {
    header#header {
        height: 60px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
     }
}




/**/
.process-section .outer-box {
	position: relative;
}

.products-box .outer-box {
	position: relative;
	padding-right: 400px;
}

.products-box .outer-box .banner-box-two {
	position: absolute;
	right: 0;
	top: 0;
}

.contact-section .outer-box {
	max-width: 1370px;
	position: relative;
}

@media only screen and (max-width: 1199px) {
	.contact-section .outer-box {
		margin-top: 0;
	}
}

@media only screen and (max-width: 1199px) {
	.contact-section .outer-box {
		margin-top: 0;
	}
}
